@page "/login"
@inherits LoginBase

<Layout>
    <LayoutContent>
        <Card Style="max-width: 400px; margin: 50px auto;">
            <CardHeader>
                <CardTitle>Iniciar sesión</CardTitle>
            </CardHeader>
            <CardBody>
                <Validations @ref="validations">
                    <Field>
                        <Label>Correo electrónico</Label>
                        <TextEdit @bind-Text="Email" Placeholder="Email" />
                    </Field>

                    <Field>
                        <Label>Contraseña</Label>
                        <TextEdit @bind-Text="Password" Type="password" Placeholder="Contraseña" />
                    </Field>

                    <Button Color="Color.Primary" Clicked="HandleLogin">Entrar</Button>
                </Validations>
                <Blazorise.ValidationSummary />
                @if (!string.IsNullOrEmpty(ErrorMessage))
                {
                    <Alert Color="Color.Danger">@ErrorMessage</Alert>
                }
            </CardBody>
        </Card>
    </LayoutContent>
</Layout>
